a.header-title,
a:visited.header-title,
a:active.header-title,
a:hover.header-title {
  color: white;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.space-medium {
  padding-top: 30px;
}
